.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: white;
  position:relative;
  z-index:1000;
}

.card-title {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  margin-top: 25px;
  height: 60px;
  width: 600px;
  font-size: 40px;
  color: rebeccapurple;
}

.password {
  border-radius: 10px;
  flex-direction: column;
  margin-top: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  //border: 1px solid rebeccapurple;
  //flex-direction: column;
  width: 50%;
  height: 95%;
  background-color: white;
  box-shadow: 5px 5px 5px 5px rgba(0,0,0,0.27);
}

.col-md-6 {
  margin-top: 25px;
}

form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

