<div class="card-title">
  Change Password
</div>


<div class="container">
  <div class="password">
    <form #form="ngForm" (ngSubmit)="save(passwordObject)">
      <div class="form-group col-md-6 mt-4" style="text-align: start">
        <label for="oldPassword">Old Password</label>
        <div class="input-group mb-3">
          <input type="password"
                 name="oldPassword"
                 class="form-control"
                 id="oldPassword"
                 aria-describedby="emailHelp"
                 placeholder="Old Password"
                 maxlength="50"
                 minlength="8"
                 required
                 [(ngModel)]="passwordObject.oldPassword"
                 #oldPass="ngModel"
                 [ngClass]="{
               'is-invalid': (oldPass.touched || oldPass.dirty)
               && !oldPass.valid, 'is-valid' : oldPass.valid
               && (oldPass.touched || oldPass.dirty)}"
          >
          <span class="invalid-feedback">
            <span *ngIf="oldPass.hasError('minlength')">Password must at least be 8 characters long.</span>
            <span *ngIf="oldPass.hasError('required')">Old password is required.</span>
            <span *ngIf="oldPass.hasError('maxlength')">Maximum length for a password is 50 characters long.</span>
          </span>

          <div *ngIf="(!oldPass.hasError('minlength') && !oldPass.hasError('maxlength') && !oldPass.hasError('required'))" class="input-group-text">
            <div type="button" (click)="toggleOldPassword()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 mt-4" style="text-align: start">
        <label for="newPassword">New Password</label>
        <div class="input-group mb-3">
          <input type="password"
                 name="newPassword"
                 class="form-control"
                 id="newPassword"
                 aria-describedby="emailHelp"
                 placeholder="New Password"
                 maxlength="50"
                 minlength="8"
                 required
                 [(ngModel)]="passwordObject.newPassword"
                 #newPass="ngModel"
                 [ngClass]="{
               'is-invalid': (newPass.touched || newPass.dirty)
               && !newPass.valid, 'is-valid' : newPass.valid
               && (newPass.touched || newPass.dirty)}"
          >
          <span class="invalid-feedback">
            <span *ngIf="newPass.hasError('minlength')">Password must at least be 8 characters long.</span>
            <span *ngIf="newPass.hasError('required')">New password is required.</span>
            <span *ngIf="newPass.hasError('maxlength')">Maximum length for a password is 50 characters long.</span>
          </span>

          <div *ngIf="(!newPass.hasError('minlength') && !newPass.hasError('maxlength') && !newPass.hasError('required'))" class="input-group-text">
            <div type="button" (click)="toggleNewPassword()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="form-group col-md-6 mt-4" style="text-align: start">
        <label for="confirmPassword">Confirm Password</label>
        <div class="input-group mb-3">
          <input type="password"
                 name="confirmPassword"
                 class="form-control"
                 id="confirmPassword"
                 aria-describedby="emailHelp"
                 placeholder="Confirm Password"
                 maxlength="50"
                 minlength="8"
                 required
                 [(ngModel)]="confirmPassword"
                 #confirmPass="ngModel"
                 [ngClass]="{
               'is-invalid': (confirmPass.touched || confirmPass.dirty)
               && !confirmPass.valid, 'is-valid' : confirmPass.valid
               && (confirmPass.touched || confirmPass.dirty)}"
          >
          <span class="invalid-feedback">
            <span *ngIf="confirmPass.hasError('minlength')">Password must at least be 8 characters long.</span>
            <span *ngIf="confirmPass.hasError('required')">Old password is required.</span>
            <span *ngIf="confirmPass.hasError('maxlength')">Maximum length for a password is 50 characters long.</span>
          </span>

          <div *ngIf="(!confirmPass.hasError('minlength') && !confirmPass.hasError('maxlength') && !confirmPass.hasError('required'))" class="input-group-text">
            <div type="button" (click)="toggleConfirmPassword()">
              <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-eye-fill" viewBox="0 0 16 16">
                <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0z"/>
                <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8zm8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7z"/>
              </svg>
            </div>
          </div>
        </div>
      </div>
      <div class="mrs" style="margin-top: 40px; margin-bottom: 40px; width: 50%">
        <div class="row">
          <div class="col-sm">
            <button class="btn btn-primary rounded-pill" style="text-align: center; width: 100%; justify-content: center; display:flex; background-color: rebeccapurple;" [disabled]="form.invalid" (submit)="save(passwordObject)">Save</button>
          </div>
          <div class="col-sm">
            <button class="btn btn-primary rounded-pill" style="width: 100%; text-align: center; justify-content: center; display:flex; background-color: mediumpurple;" (click)="router.navigateByUrl('/user-profile')">Cancel</button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
