<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card shadow p-3 rounded-4">
        <div class="card-title">
          <h2 class="fw-bold">Reset your Password</h2>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
            <div class="form-group">
              <label for="password">New Password</label>
              <input type="password" name="password" formControlName="password" class="form-control" id="password"
                     placeholder="Enter Password" maxlength="50">
              <div *ngIf="submitted && resetPasswordForm.controls.password.errors" class="error">
                <small class="form-text text-danger" *ngIf="resetPasswordForm.controls.password.errors.required">Your
                  Password
                  is
                  required!
                </small>
                <small class="form-text text-danger" *ngIf="resetPasswordForm.controls.password.errors.minlength">Your
                  Password
                  must be at least 8 characters long!
                </small>
                <small class="form-text text-danger"
                       *ngIf="resetPasswordForm.controls.password.errors.whitespace && resetPasswordForm.controls.password.value !== ''">
                  Field can not consist of only whitespaces!
                </small>
              </div>
            </div>
            <div class="form-group">
              <label for="confirmPassword">Confirm New Password</label>
              <input type="password" name="confirmPassword" formControlName="confirmPassword" class="form-control"
                     id="confirmPassword"
                     placeholder="Confirm Password" maxlength="50">
              <div
                *ngIf="submitted  && resetPasswordForm.controls.confirmPassword.errors" class="error">
                <small class="form-text text-danger" *ngIf="resetPasswordForm.controls.confirmPassword.errors.required">Your
                  Password needs to be confirmed!
                </small>
                <small class="form-text text-danger"
                       *ngIf="resetPasswordForm.controls.confirmPassword.errors.match">
                  Passwords must match!
                </small>
                <small class="form-text text-danger"
                       *ngIf="resetPasswordForm.controls.confirmPassword.errors.whitespace && resetPasswordForm.controls.confirmPassword.value !== ''">
                  Field can not consist of only whitespaces!
                </small>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button type="button" name="submitButton" (click)="resetPassword()"
                      class="btn btn-success text-center rounded-pill"> &nbsp; RESET PASSWORD &nbsp;
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
