<div *ngIf="confirmed" class="container text-center">
  <h4>Congratulations, your account has been verified.</h4>
  <h5>You will be redirected to the login page after 5 seconds.</h5>
  <h5>If not, please click the link below to proceed with the login.</h5>
  <h5><a [routerLink]="['../login']">Click here to login</a></h5>
</div>

<div *ngIf="!confirmed" class="container text-center">
  <h4>Sorry, we could not verify your account. It may be already verified,
    or the verification link is outdated.</h4>
  <h5><a [routerLink]="['../login']">Click here to login</a></h5>
</div>
