<div class="pt-5">
  <div class="row">
    <div class="col-md-6 mx-auto">
      <span class="anchor" id="formLogin"></span>

      <div class="card shadow p-3 rounded-4">
        <div class="card-title">
          <h2 class="fw-bold">Reset your Password</h2>
        </div>

        <div class="card-body">
          <form class="form" [formGroup]="resetPasswordForm" (ngSubmit)="submit()">
            <div>
              <p>We we will be sending a link to the specified email address where you can declare a new password.</p>
            </div>
            <div class="form-group">
              <input type="text" name="email" formControlName="email" class="form-control" id="inputEmail" autofocus
                     aria-describedby="emailHelp" placeholder="Enter Email">
              <div *ngIf="submitted && resetPasswordForm.controls.email.errors" class="error">
                <small class="form-text text-danger" *ngIf="resetPasswordForm.controls.email.errors.required">Your email
                  is
                  required!
                </small>
                <small class="form-text text-danger" *ngIf="resetPasswordForm.controls.email.errors.pattern">Not a valid
                  email address!
                </small>
              </div>
            </div>
            <div class="col-md-12 text-center">
              <button type="button" name="submitButton" (click)="submit()"
                      class="btn purple-btn text-center rounded-pill"> &nbsp; Send &nbsp;
              </button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
